.info-row span:first-child{
    background-color: rgb(29, 161, 242);
    padding: 0.2rem;
    border-radius: 15px;
    color: #dfefee;
}

.info-row{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.into-summary{
    margin: 0.5rem 0;
}

.greeting{
    margin: 0.5rem 0;
    color: rgba(0, 0, 0, 0.54);
    /* color: rgba(0, 0, 0, 0.54); */
    /* font-size: 24px; */
    display: inline-block;
    font-weight: 300;
    line-height: 32px;
}

.info-row{
    margin: 1rem 0;
}

.info-row span:last-child{
    width: 50%;
    display: inline-block;
    text-align: end;
}