.container {
  /* background: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%); */
  /* background-color: #f1f1f1; */
  background-color: #D7EFEE!important;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  body .container {
    padding: 3rem 7rem;
    flex-direction: row;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
  }
}

